$def with(guardado)
<h3>
    <a href="/guardado">guardado</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>guardado</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in guardado:
        <tr>
            <td><a href='/guardado/view/$item.id_guardado'>$item.id_guardado $item.id_usuario</a></td>
            <td><a href='/guardado/edit/$item.id_guardado'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/guardado/delete/$item.id_guardado'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>