$def with(post, message)
<h3>
    <a href="/post">post</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_post" id="id_post" value="$post.id_post" />

    <div class="form-group">
    <label for="Titulo">Titulo</label>
    <input required id="Titulo" type="text" class="form-control" name="Titulo" size="30" value="$post.Titulo"/>
</div><div class="form-group">
    <label for="descripcion">descripcion</label>
    <input required id="descripcion" type="text" class="form-control" name="descripcion" size="30" value="$post.descripcion"/>
</div><div class="form-group">
    <label for="procedimiento">procedimiento</label>
    <input required id="procedimiento" type="text" class="form-control" name="procedimiento" size="30" value="$post.procedimiento"/>
</div><div class="form-group">
    <label for="link_video">link_video</label>
    <input required id="link_video" type="text" class="form-control" name="link_video" size="30" value="$post.link_video"/>
</div><div class="form-group">
    <label for="imagen_p">imagen_p</label>
    <input required id="imagen_p" type="text" class="form-control" name="imagen_p" size="30" value="$post.imagen_p"/>
</div><div class="form-group">
    <label for="id_usuario_eco">id_usuario_eco</label>
    <input required id="id_usuario_eco" type="text" class="form-control" name="id_usuario_eco" size="30" value="$post.id_usuario_eco"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </div>
</form>
<br>
<br>
<br>