<h3>
    <a href="/vista_aluminio">vista_aluminio</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="Titulo">Titulo</label>
    <input required id="Titulo" type="text" class="form-control" name="Titulo" size="30"/>
</div><div class="form-group">
    <label for="descripcion">descripcion</label>
    <input required id="descripcion" type="text" class="form-control" name="descripcion" size="30"/>
</div><div class="form-group">
    <label for="procedimiento">procedimiento</label>
    <input required id="procedimiento" type="text" class="form-control" name="procedimiento" size="30"/>
</div><div class="form-group">
    <label for="link_video">link_video</label>
    <input required id="link_video" type="text" class="form-control" name="link_video" size="30"/>
</div><div class="form-group">
    <label for="id_usuario_eco">id_usuario_eco</label>
    <input required id="id_usuario_eco" type="text" class="form-control" name="id_usuario_eco" size="30"/>
</div><div class="form-group">
    <label for="categoria">categoria</label>
    <input required id="categoria" type="text" class="form-control" name="categoria" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>