$def with(params)
$var username: $params['username']
$var privilege: $params['privilege']

<div>
    <h1 style="text-align: center" style="color: darkviolet">Eco System</h1>
    <img src="Logo.png" width="400" height="341">
</div>
<div>
    <h2>¿Qué es?</h2>
    <p>
        Es una aplicación desarrollada especialmente para reducir la contaminación del suelo reutilizando y dando un nuevo uso a los materiales que se creen inservibles, por ejemplo el PET, aluminio, cartón, papel.  
    </p>
    <h2>¡Hola y Bienvenido!</h2>
</div>