$def with(params)
$var username: $params['username']
$var privilege: $params['privilege']

<div>
    <h1 style="text-align: center" style="color: darkviolet">Eco System</h1>
</div>
<div>
    <h2>¿Qué es?</h2>
    <p>
        ¿Sabias que mexico es uno de los paises que mas contamina a nuestro planeta?
        Formas parte de la comunidad estudiantil de la UNIVERSIDAD TECNOLOGICA DE TULANCINGO y te gustaria destacarte 
        por el grupo que mas recicla...
 
    </p>
    <p>
            Tenemos tu solucion EcoSystem esta hecho para ustedes...
            EcoSystem
            Es una aplicación desarrollada especialmente para reducir la contaminación del suelo reutilizando y dando un nuevo uso a los materiales que se creen inservibles, por ejemplo el PET, aluminio, cartón, papel.  
     </p>
     
    <h2>¡Hola y Bienvenido!</h2>
</div>