$def with(comentarios)
<h3>
    <a href="/comentarios">comentarios</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>comentarios</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in comentarios:
        <tr>
            <td><a href='/comentarios/view/$item.id_comentario'>$item.id_comentario</a></td>
            <td><a href='/comentarios/edit/$item.id_comentario'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/comentarios/delete/$item.id_comentario'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>