<h3>
    <a href="/comentarios">comentarios</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="id_post">id_post</label>
    <input required id="id_post" type="text" class="form-control" name="id_post" size="30"/>
</div><div class="form-group">
    <label for="fecha_comentario">fecha_comentario</label>
    <input required id="fecha_comentario" type="text" class="form-control" name="fecha_comentario" size="30"/>
</div><div class="form-group">
    <label for="comentario">comentario</label>
    <input required id="comentario" type="text" class="form-control" name="comentario" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>